@font-face {
font-family: 'A';
src: url(../pacote-projeto-d010/fontes/idroid.otf);
}
body {
margin: auto;
font-family: Arial, Helvetica, sans-serif;
background-color: #a9ffa9;
}
header {
background-image: linear-gradient(to bottom, #4feb4f, #0e520f);
padding: 25px;
color: white;
box-shadow: 0px 0px 10px black;
}
header h1, p {
text-align: center;
margin: 35px;
}
nav > a {
margin: 10px 20px 10px 0px;
padding: 10px;
text-decoration: none;
color: white;

border-radius: 10px;
transition: background-color 0.3s;
}
nav > a:hover {
background-color: #3aa33a;
}
main {
background-color: white;
margin: 0px auto 0px auto;
width: 100%;       /* Ocupa a largura disponível... */
max-width: 830px;  /* ...mas não passa de 830px */
box-shadow: 0px 0px 10px black;
}
main h1, h2 {
margin: 0px 10px 0px 10px;
padding: 10px;
}
main p {
margin: 10px 10px 10px 10px;
text-indent: 20px;
max-width: 830px;
text-align: justify;
}
main a {
color: #0e520f;
text-decoration: none;
font-weight: bold;
}
main a::after {
content: "←";
}
main a:visited {
color: #3aa33a;
}
img {
display: block;
margin: auto;
max-width: 100%;
} 
iframe {
display: block;
margin: 20px auto;
width: 100%;
max-width: 100%; /* Garante que nunca passe do main */
min-height: 415px;
    
/* O segredo da borda que não quebra o layout */
box-sizing: border-box; 
border: 15px solid #0e520f; /* Borda grossa verde igual ao tema */
}
table {
width: 100%;
border-collapse: collapse;
margin: 20px 0;
}
td {
padding: 5px 10px;
width: 50%; /* Garante as duas colunas iguais */
}
/* Opcional: estilizar as bolinhas ou o texto */
td::before {
content: "✔ ";
color: #0e520f;
}
div {
background-color: #a9ffa9;
border-radius: 20px;
box-shadow: 1px 1px 8px black;
margin: 20px auto 10px auto;
max-width: 750px;
}
div > h3 {
padding: 10px;
border-radius: 20px 20px 0px 0px;
background-color: #3aa33a;
color: white;
}
div p {
padding: 0px 10px 10px 10px;
}
strong {
color: #0e520f;
font-weight: bold;
}
.font {
font-family: 'A';
color: #0f6f0f;
}
.destaque {
background-color: #56d45698;
padding: 2px;
}
aside {
display: block;
text-align: center;
color: #ffffff;
background-color: #0e520f;
}