@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body {
    background-image: linear-gradient(to right, #97A6A0, #E4F2E7);
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 20px #2D3E40;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1 {
    color: #387373;
    text-align: center;
    text-shadow: 1px 1px 1px #1d3c3c;
}
h2 {
    color: #93BFB7;
}
p {
    text-align: justify;
}